{namespace pifuxelck.ui.soy.draw}


/**
 * @param size The size of the stroke.
 */
{template .sizeButton}
<div class="button">
  <div class="size" style="width: {$size}%; height: {$size}%;"></div>
</div>
{/template}


/**
 * @param color The color of the button.
 */
{template .colorButton}
<div class="button">
  <div class="color" style="background: {$color}"></div>
</div>
{/template}
