{namespace pifuxelck.ui.soy.game}


/**
 * @param label The label of this particular history entry.
 */
{template .labelTurn}
<div class="grid-element">
  <div class="grid-element-drawing"></div>
  <div class="grid-element-label">
    {$label}
  </div>
</div>
{/template}


/**
 */
{template .drawingTurn}
<div class="grid-element">
  <div class="grid-element-drawing"></div>
  <div class="grid-element-label"></div>
</div>
{/template}
