{namespace pifuxelck.ui.soy.history}


/**
 * An entry in the grid of completed games.
 * @param label The label of this particular history entry.
 * @param gameId The id of this game.
 */
{template .entry}
<div class="grid-element">
  <a href="game.html?game={$gameId}" class="darktext">
    <div class="grid-element-drawing"></div>
    <div class="grid-element-label">
      {if $label}
        {$label}
      {else}
        &nbsp;
      {/if}
    </div>
  </a>
</div>
{/template}
