{namespace pifuxelck.ui.soy.history}
/**
 * An entry in the grid of completed games.
 * @param label The label of this particular history entry.
 */
{template .entry}
<div class="grid-element">{$label}</div>
{/template}
