{namespace pifuxelck.ui.soy.newgame}


/**
 * @param display_name The display name.
 */
{template .contactInList}
<div class="list-element">
  {$display_name}
  <input value=""
         type="button"
         class="button unchecked"
         style="position:absolute; right: 0px; width:50px; height: 50px" />
</div>
{/template}

