@import "common.scss";

$list-element-min-height: 50px;
$list-width: 500px;

$grid-size: 250px;
$grid-margin: 10px;

body {
  background: $backgroundGrey;
  color: $primaryTextWhite;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

a {
  color: $primaryTextWhite;
  text-decoration: none;
}

.list-header {
  position: relative;
  margin-top: $navbar-height + 2 * $grid-margin;
  min-height: $list-element-min-height;
  background: white;
  width: $list-width;
  left: 50%;
  margin-left: 0 - ($list-width / 2);

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $shadowGrey;
}

.list {
  position: relative;
  height: 100%;
  width: $list-width;
  margin-top: $list-element-min-height;
  left: 50%;
  margin-left: 0 - ($list-width / 2);

  color: $primaryText;
}

.list-element {
  width: 100%;
  min-height: $list-element-min-height;
  background: white;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $shadowGrey;
}

.grid {
  position: absolute;
  top: $navbar-height + 2 * $grid-margin;
  height: 100%;
  width: 100%;
  text-align: center;

  color: $primaryText;
}

.grid-element {
  width: $grid-size;
  min-height: $grid-size;
  margin: $grid-margin;
  display: inline-table;
  background: white;

  @include drop-shadow;
}

.grid-element-label {
  position: relative;
  top: 0px;
  left: 0px;
  width: $grid-size;
  margin-top: 0 - ($grid-size / 5 * 3);
  vertical-align: middle;
  font-weight: 500;
}

.grid-element-drawing {
  position: relative;
  top: 0px;
  left: 0px;
  width: $grid-size;
  height: $grid-size;
  opacity: 0.2;
}

.grid-element-drawing > canvas {
  position: relative;
  width: $grid-size;
  height: $grid-size;
  left: 0px;
  top: 0px;
}

.grid-element-drawing > canvas.first {
}

.grid-element-drawing > canvas.second {
  margin-top: 0 - $grid-size;
}

.fab {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: $accent;
  font-size: 64px;

  @include drop-shadow;
}

.fab > a {
  position: absolute;
  color: $primaryTextWhite;
  text-decoration: none;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.navbar {
  position: fixed;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: $navbar-height;

  background: $primary;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: $primaryDark;

  color: $primaryTextWhite;

  padding: 5px;
}

.navbar-header {
  position: relative;
  font-size: xx-large;
  margin: 25px;
  color: $primaryTextWhite;
  text-decoration: none;
}

.navbar-entry {
  font-size: x-large;
  margin: 5px;
  color: $primaryTextWhite;
  text-decoration: none;
}

.primary-background {
  background: $primary;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: $primaryTextWhite;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

input.text {
  background: $transparent;
  color: $primaryTextWhite;

  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-color: $accent;

  outline-style: none;
}

.full {
  width: 100%;
}

input.button {
  background: $accent;
  color: $primaryTextWhite;
  border-style: none;
}

input.hero-button {
  width: 100%;
}

.big {
  font-size: xx-large;
  padding: 10px;
}

.huge {
  font-size: 64px;
  padding: 10px;
}

input.darktext {
  color: $primaryText;
}

div.content {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

div.hero {
  width:500px;
  margin-left:-250px;
  position: absolute;
  top: 100px;
  left: 50%;
}

div.hero-row {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

::-webkit-input-placeholder{
  color: $secondaryTextWhite;
}
:-moz-placeholder{
  color: $secondaryTextWhite;
}
::-moz-placeholder{
  color: $secondaryTextWhite;
}
:-ms-input-placeholder {
  color: $secondaryTextWhite;
}

.darktext::-webkit-input-placeholder{
  color: $secondaryText;
}
.darktext:-moz-placeholder{
  color: $secondaryText;
}
.darktext::-moz-placeholder{
  color: $secondaryText;
}
.darktext:-ms-input-placeholder {
  color: $secondaryText;
}
